<!DOCTYPE html>
<html>
	<head>
		<link href="/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h2>MadLibs</h2>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/upload">Uploads</a>
			</nav>
		</header>
		
		<form action="upload" method="post" enctype="multipart/form-data">
			Select a file to upload:
			<input type="file" name="Upload" id="ToUpload">
			</br>
			<input type="submit" value="Upload File" name="upload">
		</form>
	</body>
</html>

